.builds {
  margin-left: 200px;
}

.builds>h1 {
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .builds {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .builds {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .builds>h1 {
    text-align: center;
    margin-left: 15px;
  }
}
