.gallery {
  margin: 20px 50px;
  display: flex;
  align-items: flex-start;
}

.gallery-head-photo {
  height: 300px;
  margin: 5px 5px 5px 0;
}

.gallery-hover:hover {
  cursor: pointer;
}

.gallery-additional-photo {
  height: 145px;
  margin: 5px 4px 1px;
}

.gallery-additional-photo-container {
  display: inline-flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }
  .gallery-head-photo {
    width: 300px;
    height: auto;
  }
  .gallery-additional-photo-container {
    flex-direction: row;
  }
  .gallery-additional-photo {
    width: 145px;
    height: auto;
    margin: 1px 10px 1px 0px;
  }
}

