.home {
  margin-left: 200px;
}

.home>h1 {
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 40px;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  margin-left: -20px;
}

@media only screen and (max-width: 1000px) {
  .home {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin-left: 0;
  }
  .home-container {
    margin-left: 0;
  }
  .home-container-first {
    flex-direction: column;
  }
  .home-container-second {
    flex-direction: column-reverse;
  }
  .home>h1 {
    text-align: center;
  }
}
