.home {
  margin-left: 200px;
}

.home>h1 {
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 40px;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  margin-left: -20px;
}
