.mods {
  margin-left: 200px;
}

.mods>h1 {
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .mods {
    margin-left: 10px;
  }
}
