.news {
  margin-left: 200px;
}

.news>h1 {
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .news {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .news {
    margin-left: 0;
  }
}
