.full-page-photo {
  margin: 20px auto;
}

.full-page-head-photo {
  height: 300px;
  display: block;
}


.full-page-add-photo {
  height: 100px;
  padding: 0 10px;
}

.full-page-photo-container {
  width: 60%;
}
