.product-full {
  margin-left: 200px;
}

.product-full-title {
  width: 80%;
  text-align: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #F44336;
  font-size: 24px;
  margin-left: 50px
}

.product-full-container {
  background-color: #FAFAFA;
  width: 80%;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px 0;
}

.product-full-body {
  padding: 20px 50px 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #757575;
}

.product-full-reverb {
  display: inline-block;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  background-color: #F44336;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 50px;
  transition: background-color 200ms, color 200ms;
}

.product-full-reverb:hover {
  padding: 2px 7px;
  border: 3px solid #F44336;
  background-color: #FAFAFA;
  color: #F44336;
  transition: background-color 200ms, color 200ms;
}

.product-full-youtube {
  width: 560px;
  display: block;
  margin: 0 auto 50px;
}

@media only screen and (max-width: 1000px) {
  .product-full {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .product-full-container {
    width: 100%;
    padding: 10px 0;
  }
  .product-full {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .product-full-title {
    margin-left: 15px;
  }
  .product-full-reverb {
    margin-left: 15px;
  }
  .product-full-body {
    padding: 20px 10px 40px 15px;
  }
  .product-full-youtube {
    width: 100%;
  }
}

