html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EEEEEE;
}

nav {
  background-color: #F44336;
  width: 100%;
  padding:10px 0;
  text-align: right;
  font-family: 'Roboto Slab', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.app {
  padding-bottom: 30px;
}

.app-navlink {
  color: #FAFAFA;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  transition: background-color 200ms;
}

.app-navlink:hover {
  background-color: #B71C1C;
  transition: background-color 200ms;
}

.active {
  padding-bottom: 7px;
  border-bottom: 3px solid #FAFAFA;
}

.app-logo {
  position: fixed;
  height: 140px;
  width: 140px;
  left: 20px;
  top: 3px;
  border-radius: 100%;
  border: 3px solid #F44336;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  opacity: 0.8;
  transition: height 200ms, width 200ms, box-shadow 200ms, opacity 200ms;
}

.app-logo:hover {
  height: 155px;
  width: 155px;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: height 200ms, width 200ms, box-shadow 200ms, opacity 200ms;
}

.app-title-link {
  position: absolute;
  left: 175px;
  top: -3px;
  font-family: 'Chalkduster', 'Roboto Slab', sans-serif;
  color: #FAFAFA;
  display: inline;
  font-size: 20px;
  line-height: .75;
}


.app-homelink {
  padding: 0;
}

.app-menu-icon {
  color: #FAFAFA;
  display: none;
  padding: 0;
  margin: 0;

}

.app-icon-button {
  border: none;
  display: none;
  background-color: #F44336;
  padding: 0 5px;
  margin: -8px 5px -8px 0;
  outline: none;
}

.app-menu-showing {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: none;
  margin: 5px 0 -10px;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .app-logo {
    display: none;
  }
  .app-title-link {
    left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .app-invisible {
    display: none;
  }
  .app-menu-icon {
    display: inline;
  }
  .app-icon-button {
    display: inline;
  }
  .active {
    padding-bottom: 10px;
  }
}
